# Database
DATABASE_URL=postgres://postgres:postgres@localhost:5432/dbbkp_panel

# Authentication
JWT_SECRET=dbbkp-super-secret-change-in-prod
JWT_EXPIRES=7d

# Worker Settings
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# API Settings
PORT=3000
API_PORT=3000
